:root {
    --primary: rgb(63, 63, 63);
    --dark: rgb(29, 29, 29);
    --light: #fff;
    --hover: rgb(37, 69, 215);
    --shadow: 0 1px 5px rgba(104,104,104,0.8)
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

html {
    box-sizing: border-box;
    color: var(--dark);
}

body {
    min-height: 100vh;
    margin: 30px 50px;
    display: grid;
    grid-template-rows: 120px auto 1fr auto;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 32px;
    margin-bottom: .5rem;
}

header p {
    color: var(--primary);
    text-align: center;
    font-size: 16px;
}

/* New Book */

.new-book{
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.top-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.top-box p {
    font-size: 16px;;
}

.form-container {
     display: none; 
}

.new-book-btn {
    padding: 4px 8px;
    background: var(--light);
    color: var(--dark);
    font-size: 16px;
}

.new-book-btn:hover {
    background: var(--hover);
    color: var(--light);
}

#book-form {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 6px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field input {
    border-radius: 16px;
    border: solid thin;
}

.field button {
    background-color: rgb(43, 171, 39);
    color: white;
    padding: 8px 12px;
    border-radius: 8px;

}

.field button:hover {
    background-color: rgb(29, 119, 24);
    color: white;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(autofill,minmax(200px,1fr));
}

.card-header {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border-bottom: solid;
    font-weight: bold;
    text-align: center;
}

.card {
    border-bottom: solid thin;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    place-items: center;
    text-align: center;
}

.title {
    font-size: 12px;
    font-weight: bold;
}

.author {
    font-style: italic;
}

.read {
    min-width: 50px;
    border: solid thin;
    padding: 6px 12px;
    cursor: default;
}

.read:hover {
    color: #f9f9f9;
    background-color: rgb(37, 69, 215);
}

footer {
    text-align: center;
    background-color: var(--dark);
    color: var(--light);
}